.main{
    margin-top: 94px !important;
    box-sizing: border-box;
}

.footer{
    padding: 40px 0 40px;
}

.socials__item svg {
    width: 20px;
    height: 20px;
}

.pages__name{
    display: flex;
    gap: 5px;
    align-items: flex-end;
    color: #FFF;
    font-family: Rawline;
    font-size: 16px;
    margin-bottom: 30px;
    &-left{
        font-weight: 500;
    }

    &-right{
        font-weight: 700;
    }

    img{
        width: 13px;
        height: 13px;
    }
}



.contacts{
    background: none;
    display: flex;
    justify-content: none;
    align-items: flex-end;
    width: 100%;
    gap: 30px;
    &__info{
        width: 40%;
        padding: 0px 0 0px 0;
    }

    &__left{
        width: 60%;
        border-radius: 30px;
        height: 477px;

        iframe{
            border-radius: 30px;
        }
    }
}

.iti {
    width: 100% !important;
    max-width: 100% !important;
}

.contacts__social{
    border-radius: 20px;
    background: #182D5A;
    padding: 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-item{
        width: 57.022px;
        height: 57.022px;
    }
}

.contacts__bottom{
    background: rgba(21, 41, 82, 0.50);
    backdrop-filter: blur(11.550000190734863px);
    padding: 60px 0;
    margin-bottom: 0;
}


@media (max-width: 1060px) {
    .contacts__info {
        width: 100%;
    }

    .contacts__left {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .contacts__left {
        height: 340px;
    }

    .contacts__bottom{
        background: none;
        padding: 50px 0;
    }

    .contacts__info {
        padding: 0px 0 0px 0;
    }
}

@media (max-width: 721px) {
    .pages__name{
        display: none;
        height: 0;
        width: 0;
        z-index: -1;
    }
}

@media (max-width: 650px) {
    .contacts__bottom{
        padding: 30px 0;
    }
}

@media (max-width: 450px) {
    .contacts__left {
        height: 280px;
    }

    
}