.footer {
	padding: 40px 0;
	background: #091c43;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		&-left {
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 30px;
				font-size: 0.7rem;
				font-weight: 400;
			}
		}
		&_inner {
			display: flex;
			align-items: center;
			gap: 45px;
			&_link {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 45px;
				font-size: 0.6rem;
				font-weight: 500;
				text-transform: uppercase;
				color: #fff;
				transition: 0.3s ease;
				text-align: center !important;
				&:not(:last-child) {
					&::after {
						content: "";
						width: 1px;
						height: 10px;
						background: #62779f;
					}
				}
				&:hover {
					color: var(--ye);
				}
			}
		}
	}
}



.iti {
	width: 100% !important;
	max-width: 100% !important;
}

@media (max-width: 1199.98px) {
	.footer {
		&__wrapper {
			&_inner {
				gap: 30px;
				&_link {
					gap: 30px;
				}
			}
		}
	}
}

@media (max-width: 1140px) {
	.footer {
		&__wrapper {
			&-left {
				.logo {
					gap: 20px;
					flex-direction: column;
					align-items: flex-start;
				}
			}
		}
	}
}

@media (max-width: 991.98px) {
	.footer {
		padding: 30px 0 !important;
		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			gap: 15px;
			&-left {
				.logo {
					p {
						display: none;
					}
				}
			}
			&_inner {
				gap: 20px;
				&_link {
					gap: 20px;
				}
			}
		}
	}
}
@media (max-width: 575.98px) {
	.footer {
		&__wrapper {
			gap: 0;
			&-left {
				display: none;
			}
			&-center {
				padding-bottom: 15px;
				border-bottom: 1px solid #62779f;
                width: 100%;
			}
            &-right {
                padding-top: 15px;
            }
			&_inner {
				gap: 15px;
				flex-direction: column;
				&_link {
					&::after {
						display: none;
					}
				}
			}
		}
	}
}
